@font-face {
    font-family: FigTree;
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #0a0c1b;
    color:white;
    font-family: "FigTree";
    
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-container{
    width: 100rem;
    height: 40rem;
    display: flex;
    background-color: #1c1938;
    border-radius: 6px;
   overflow: hidden;
}
.container-image {
    background-image: linear-gradient(
      to right,
      #831fbd5e,
      #831fbd5e
    ),
    url(../images/image-header-desktop.jpg);

  
  width: 100%;
    
}
.card-container-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6rem;
    padding-right: 10rem;
    
}
.card-container-inner h2{
    font-size: 3.8rem;
    margin-bottom: 2.4rem;
}
.card-container-inner h2 span{
    color: #b05dde;
}
.card-container-inner p{
    font-size: 1.6rem;;
    margin-bottom: 2.4rem;
    color: #b4b0b0;
}
.card-container-inner dl{
    display: flex;
    gap:9rem;
    margin-top: 2rem;
}
.card-container-inner dl dt{
font-size: 1.2rem;
text-transform: uppercase;
}
.card-container-inner dl dd{
    font-size: 2.6rem;
    font-weight: 600;
}