@font-face {
    font-family: "FigTree";
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
@font-face{
    font-family: "Libre";
    src: url(../fonts/LibreBaskerville-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}
body{
 background-color: #f3eae3;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
article{
   width: 70rem;
}
.card-content{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    font-family: serif;
}
.card-content h1{
    font-size: 3.4rem;
    margin-top: 1.6rem;
    font-family: "Libre";
}
.card-content p{
    font-size: 1.5rem;
    margin-top: 1.6rem;
    margin-bottom: 2.6rem;
    color: gray;
    font-family: "FigTree";
    line-height:1.7;
    
}
.card-content-head span{
    font-size: 1.4rem;
    letter-spacing: 2px;
    letter-spacing: .46rem;
    color: gray;
    font-weight: 400;
    font-family: "FigTree";
}
.card-content-body div{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}
.card-content-body span:nth-child(1){
 font-size: 3.6rem;
 color:#3d8168;
 font-family: "Libre";

}
.card-content-body span:nth-child(2){
    font-size: 1.2rem;
    color:gray;
    font-family: "Libre";
}
.card-content-footer{
    margin-top: 4rem;
}
.card-content-footer button{
    width: 100%;
    height: 4.8rem;
    background-color: #3d8168;
    border:none;
    border-radius: 4px;
    color: #ffffff;
    font-family: "FigTree";
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition:background-color 0.3s;
}
article{
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    
}
article img{
    width: 35rem;
    
}
.cart-icon{
    width: 1.7rem;
}
.card-content-footer button:hover{
 background-color: #1a4031;
}