@font-face {
    font-family: "figtree";
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #0d1a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
article{
 position: relative;
 width: 35rem;
 background-color: #15273f;
 border-radius: 12px;
 padding: 2.4rem 2.4rem 4rem 2.4rem;
 font-family: "figtree", sans-serif;
 color: #ffffff;
 box-shadow: 0px 30px 0px 14px #0c1729;
}
article::before{
    content:'';
    position: absolute;
    background-color: #0c192c;
    top: -2rem;
    left: -5rem;
    right: -5rem;
    bottom: -7.5rem;
    border-radius: 14px;
    z-index: -1;
}
article img{
    width: 100%;
    border-radius: 12px;
}
article h2{
    font-size: 2.2rem;
    margin-top: 2rem;
}
article p{
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #a8b4c4;
    font-weight: 300;
}
.container {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #2c3e55;
    display: flex;
    justify-content: space-between;
}
.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ether-img{
    width: 1.2rem;
}
.clock-img{
    width:2rem;
}
.price{
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: .8rem;
    color: #02fdfc;
}
.time-remaining{
    font-size: 1.5rem;
    margin-left: .8rem;
    color: #a8b4c4;
}
figure{
    margin-top: 1.8rem;
    display: flex;
    align-items: center;
}
figure img{
    width: 3.4rem;
    border: 2px solid #ffffff;
    border-radius: 50%;
}
figure figcaption{
    margin-left: 1.4rem;
    font-size: 1.6rem;
}
figcaption span{
    color: #a8b4c4;
}